<div class="login-container" color="medium">
  <div class="background-login"></div>
  <ion-card class="login-card" color="dark">
    <ion-card-header>
      <ion-img
        class="logo"
        src="../../../assets/img/logo/logo-branco-completo.png"
        alt="logo"
      ></ion-img>
    </ion-card-header>
    <ion-card-content>
      <form formGroup="login">
        <ion-input
          class="ion-no-border"
          label="Email *"
          label-placement="floating"
          fill="outline"
          type="email"
          [clearInput]="true"
        ></ion-input>

        <ion-input
          class="ion-no-border"
          label="Senha *"
          label-placement="floating"
          fill="outline"
          [clearInput]="true"
          type="password"
          [clearInput]="true"
        ></ion-input>
        <div class="forgot-password-container">
          <div class="forgot-password-container-items">
            <ion-img
              slot="start"
              class="key-icon"
              src="../../../assets/icon/key.svg"
              alt="logo"
            ></ion-img>
            <p slot="end">Esqueceu sua senha?</p>
          </div>
        </div>
        <div>
          <ion-button expand="block" color="primary" routerLink="/home"
            >Acessar</ion-button
          >
          <ion-button
            expand="block"
            color="primary"
            routerLink="/register"
            router-direction="root"
            >Cadastre-se</ion-button
          >
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>
