.login-container {
  position: relative;

  width: 100%;
  height: 100vh;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/img/background/background-externo.png")
    no-repeat center center;
  background-size: cover;
  filter: brightness(0.6);
}

.login-card {
  width: 100%;
  height: max-content;

  z-index: 1;
  color: #666;
  background-color: #e8e8e810;
  backdrop-filter: blur(40px);
  max-width: 650px;
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.3),
    inset 0 0 6px rgba(255, 255, 255, 0.2),
    inset 0 0 8px rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(0, 0, 0, 1);
  ion-card-content {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.logo::part(image) {
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

form {
  width: 100%;
  height: 100%;

  padding: 1rem;
}

ion-item {
  --background: transparent;
  --border-style: none;

  > * {
    color: white;
    font-size: 20px;
  }
}

ion-input {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-light);
  border-radius: 9px;
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;

  .forgot-password-container-items {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    gap: 1rem;
  }

  p {
    color: #2196f3;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }

  .key-icon {
    width: fit-content;
  }

  .key-icon::part(image) {
    justify-content: center;
    width: 25px;
  }
}

ion-button {
  &::part(native) {
    color: #e8e8e8ce;
    text-decoration: none;
    background-color: #229dc3;
    border: solid 1px white;
    border-color: #ababab;
    border-radius: 10px;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    margin-top: 1rem;
  }
}
