<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Global Financeiro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="login-container" [fullscreen]="true">
  <ion-card class="login-card">
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" color="primary">Acessar</ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="block" color="primary">Cadastre-se</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
