<div class="register-container">
  <div class="background-register"></div>
  <ion-card class="register-card">
    <ion-card-header>
      <ion-img
        class="logo"
        src="../../../assets/img/logo/logo-branco-completo.png"
        alt="logo"
      ></ion-img>
    </ion-card-header>
    <ion-card-content>
      <form formGroup="register">
        <ion-input
          class="ion-no-border"
          label="Nome *"
          label-placement="floating"
          fill="outline"
          [clearInput]="true"
          type="text"
          [clearInput]="true"
        >
        </ion-input>
        <ion-input
          class="ion-no-border"
          label="Email *"
          label-placement="floating"
          fill="outline"
          [clearInput]="true"
          type="email"
          [clearInput]="true"
        >
        </ion-input>
        <ion-input
          class="ion-no-border"
          label="Senha *"
          label-placement="floating"
          fill="outline"
          [clearInput]="true"
          type="password"
          [clearInput]="true"
        >
        </ion-input>
        <div class="proceed-container">
          <ion-button routerLink="/home">Prosseguir</ion-button>
          <p>
            Ao prosseguir você estará concordando com os <a>termos de uso</a> do
            Global Financeiro
          </p>
        </div>
        <div class="already-have-an-account-container">
          <div>
            <ion-img
              slot="start"
              class="key-icon"
              src="../../../assets/icon/key.svg"
              alt="logo"
            ></ion-img>
            <a href="/login"> Já tenho uma conta </a>
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>
