.login-container {
  height: 100%;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/background/background-externo.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.6);
    z-index: -1;
  }
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  color: #666;
  background-color: #E8E8E810;
  backdrop-filter: blur(40px);
  max-width: 650px;
  width: 90%;
  max-height: 95%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow:
    inset 0 0 4px rgba(255, 255, 255, 0.3),
    inset 0 0 6px rgba(255, 255, 255, 0.2),
    inset 0 0 8px rgba(255, 255, 255, 0.1),
    inset 0 0 10px rgba(0, 0, 0, 1);

    ion-card-content {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
      }
    }
}

.logo {
  display: flex;
  justify-content: center;

  &::part(image) {
    margin-bottom: 15px;
    width: 50%;
    max-width: 300px;
  }
}


ion-item {
  position: relative;

  > * {
    color: #e8e8e8ce;
    font-size: 12px;
  }

  ion-input {
    background: #00000040;
    --padding-start: 12px;
    --padding-end: 12px;
    border-radius: 9px;
    border: solid 2px rgba(0, 0, 0, 0);
  }

  ion-label {
    color: white;
    padding: 0 12px;
    position: absolute;
    top: -8px;
  }
}

.item-has-value ion-label, .item-has-focus ion-label {
  transform: translateY(-20%) scale(0.75) !important;
  color: #e8e8e8ce !important;
  caret-color: #e8e8e8ce !important;
}

.item-has-value ion-input, .item-has-focus ion-input {
  border: solid 2px #3F51B5;
}

.already-have-an-account-container {
  &::part(native) {
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  a {
    text-decoration: none;
    color: #2196f3;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }

  .key-icon {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .key-icon::part(image) {
    display: flex;
    justify-content: center;
    width: 25px;
  }
}

ion-button {
  &::part(native) {
    color: #e8e8e8ce;
    text-decoration: none;
    background-color: #229DC3;
    border: solid 1px white;
    border-color: #ABABAB;
    border-radius: 10px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
  }
}

.proceed-container {
  p {
    font-size: 7px;
    text-align: center;
    line-height: 1.2em;
    margin: 2px 0 0 0;
  }
}
