ion-header {
  background: linear-gradient(180deg, #2e96ec 0%, #1777d1 100%);
  position: relative;

  .logo {
    display: flex;
    justify-content: flex-start;

    &::part(image) {
      width: 30%;
    }
  }

  .menu {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-45%);

    &::part(image) {
      width: 100%;
      background-color: var(--ion-color-light-shade);
    }
  }
}

.content-home {
  background: #eee;
  color: #333333;

  width: 100%;
  height: 100%;

  overflow-y: auto;

  ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 2px 2px 7px 0px #0000001a;
    border-radius: 6px;
    padding: 15px;
    background: white;

    ion-card-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;
      }

      ion-img {
        &::part(image) {
          width: 18px;
          margin-right: 5px;
        }
      }
    }

    hr {
      background-color: #d1d1d1;
      height: 1px;
      width: 100%;
      border-radius: 100%;
      margin: 5px 0 20px 0;
    }

    ion-card-content {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .panel {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        ion-select {
          width: fit-content;
          padding: 0.8rem;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background: linear-gradient(180deg, #2e96ec 0%, #1777d1 100%);
          color: var(--ion-color-light);

          &::part(icon) {
            transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &.select-expanded::part(icon) {
            transform: rotate(180deg);
          }

          &::part(icon) {
            transform: none;
          }
        }

        .panel-buttons {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 5px;

          button {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 10px;
            background: white;
            color: #1565c0;
            border: 1px solid #1565c0;
            border-radius: 5px;

            .panel-icons {
              &::part(image) {
                width: 15px;
                margin-right: 5px;
              }
            }
          }

          :nth-child(4) {
            grid-column: span 3;
            flex-direction: row !important;
          }
        }
      }

      p-table {
        width: 100%;
        box-shadow: 2px 2px 7px 0px #0000001a;
        border: solid 1px #eee;
        border-radius: 5px;

        th,
        td {
          padding: 0.5rem;
          background-color: #eee;
          text-align: center;
          border: solid 1px white;
        }

        th:first-child,
        td:first-child {
          position: sticky;
          left: -1px;
          background-color: #fff;
          z-index: 1;
          text-align: start;
        }
      }
    }
  }
}

#open-modal {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;

  &::part(native) {
    background: linear-gradient(180deg, #2e96ec 0%, #1777d1 100%);
    width: 100%;
    padding: 1.2rem;
    border-radius: 100%;
  }
}

ion-modal {
  width: 100%;
  display: grid;
  height: 100%;

  &::part(backdrop) {
    z-index: -1;
  }

  ion-header {
    :host ion-toolbar {
      background: linear-gradient(180deg, #2e96ec 0%, #1777d1 100%) !important;
    }
  }

  ion-input {
    position: absolute;
    bottom: 20px;
    width: 90%;
    background: #eee;
    --padding-start: 12px;
    --padding-end: 12px;
    border-radius: 9px;
    color: #333333;
    border: solid 2px rgba(0, 0, 0, 0);
  }
}

.question{
  color: white;
}
